.banner {
  width: 100%;
  background-image: url("../../images/banana.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 480px;
  height: 90%;
  vertical-align: top;
  position: relative;
  overflow: hidden;
}
.navbar-nav {
  background: #224585;
  max-width: 1200px;
  width: 90%;
}
.container-fluid,
.navbar-collapse,
.navbar {
  width: 100%;
}
.navbar-collapse {
  justify-content: center;
}
.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.logo > img {
  max-width: 700px;
  width: 90%;
}
.slider {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#slideImg {
  width: 100%;
  height: 100%;
  animation: zoom 7s linear infinite;
}
.nav-link {
  color: white !important;
}
.nav-sections {
  position: relative;
  top: -23px;
}

.root {
  font-family: "Lato";
  position: relative;
  color: #fff;
  background: none;
  padding-bottom: 2rem;
}
.navbar {
  padding: 0px;
}
.content {
  width: 100vw;
  min-height: 100vh;
  padding: 0 1.5em;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1s ease;
  opacity: 0;
}

.active {
  opacity: 1;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}
.products {
  background-color: #ee731a;
  padding: 10px 0px;
}
.products_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.product_item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.products_name {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 22px;
}
.products h2 {
  color: #fff;
  font-size: 2.6em;
  margin: 0.3em;
  text-align: center;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  15% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
